.DatePicker__CellWrapper {
	width: 40px;
	height: 40px;
	text-align: center;
	padding: 2px;
	border-radius: 50%;
}

.DatePicker__CellWrapper--is-today {
	border: 1px solid #009688;
}

.DatePicker__CellWrapper--wide {
	width: 70px;
}

.DatePicker__Cell {
	width: 34px;
	height: 34px;
	cursor: pointer;
	border: none;
	padding: 0;
	border-radius: 50%;
	background-color: white;
}

.DatePicker__Cell:focus, .DatePicker__Cell:hover {
	/*border: 1px solid blue;*/
	background-color: #ccc;
	box-shadow: 1px 1px 10px -5px #ccc;

}

.DatePicker__Cell--wide {
	width: 66px;

}

.DatePicker__Cell--disabled {
	pointer-events: none;
	color: #b1b1b1;
}

.DatePicker__Cell--today {
	pointer-events: none;
	color: #b1b1b1;
}

.DatePicker__CellYear, .DatePicker__CellMonth {
	border-radius: 5px;
}
