.DatePicker__Body {
	display: flex;
	background-color: red;
	width: 100%;
	flex-grow: 10;
	flex-direction: column;
	padding: 2px;
	min-height: 200px
}

.DatePicker__Row {
	display: flex;
	flex-direction: row;
}

