@import './DatePickerControls.css';

.DatePicker__Head {
	background-color: coral;
	width: 100%;
	flex-grow: 1;
	padding: 2px;
	height: 50px;
}

.DatePicker__Days {
	display: flex;
	flex-direction: row;
}

.DatePicker__DayName {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
