.DatePicker__CellWrapper {
	width: 40px;
	height: 40px;
	text-align: center;
}

.DatePicker__CellWrapper--wide {
	width: 70px;
}

.DatePicker__Cell {
	width: 36px;
	height: 36px;
	cursor: pointer;
	border: none;
	padding: 0;
	margin: 2px;
}

.DatePicker__Cell:focus {
	border: 1px solid blue;
}

.DatePicker__Cell--wide {
	width: 66px;

}

.DatePicker__Cell--disabled {
	pointer-events: none;
	color: #b1b1b1;
}

.DatePicker__Cell--today {
	pointer-events: none;
	color: #b1b1b1;
}
